<div class="hero-unit edit-hero">
  <div class="container text-center hero-container">
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3">
      <h1><small>🎉🎉🎉🎉🎉</small></h1>
    </div>
  </div>
  <br>
<%= render 'form' %>
<br>
<br>
<br>
<br>
