<div class="hero-unit landing-hero">
  <div class="container text-center hero-container">
    <h1><%= link_to "Dude, signup for Exercism.io", root_path %></h1>
  </div>
</div>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3">
      Hey, it looks like you have not signed up for Exercism.io yet.  <%= link_to "Signup here", "http://exercism.io" %> and then come back to Brin to try again.
    </div>
  </div>
</div>
