<div class="hero-unit signup-hero">
  <div class="container text-center hero-container">
    <h1>New to Brin?</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3">
      <h1><small>welcome 🎉</small></h1>
    </div>
  </div>
  <br>
<%= render 'form' %>
