<div class="container">
  <br/>
  <%= form_for [@user, @user_pairing] do |f| %>
  <p>Who did you pair with?</p>
  <%= f.collection_select(:user_id, @users, :id, :fullname, { include_blank: "Select a user" }) %><br/><br/>
  <%= f.submit "Create Pairing", class: "btn btn-default"%>
  <% end %>
</div>
