<div class="hero-unit landing-hero">
  <div class="container text-center hero-container">
    <h1><%= link_to "Brin Posse", root_path %></h1>
  </div>
</div>
<div class="container">
  <h1><%= @user.fullname %></h1>
  <table class = "table">
    <tr>
      <th>Date</th>
      <th>Partner</th>
    </tr>
    <% @user.pairing_sessions.each do |pairing_session| %>
      <tr>
        <td><%= pairing_session.date %></td>
        <% pairing_session.user_pairings.each do |user_pairing|%>
          <% if user_pairing.user != @user %>
            <td><%= user_pairing.user.fullname %></td>
          <% end %>
        <%end %>
      </tr>
    <% end %>
  </table>
</div>
